<!--<configuration>-->
<!--    <appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <timeZone>Asia/Ho_Chi_Minh</timeZone>-->
<!--            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="JsonConsole"/>-->
<!--    </root>-->
<!--</configuration>-->
